$offWhite: #f4f4f4; //(Page Background)

$white: #ffffff; //(Widget Background)

$darkGrey: #474c55; //(Text, Secondary Buttons)

$green: #6db420; //Green (Primary Buttons, Widget Title)

$yellow: #fec01e; // Yellow (Tertiary Buttons, Page Border)

$font: 'Open Sans', sans-serif;

$largeBreak: 992px;

$mediumBreak: 768px;

$smallBreak: 575px;
